{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<p>
    Ultra Street Fighter IV was first released to Japanese arcades via the NESICA system. Those who already own
    Super Street Fighter IV or Super Street Fighter IV: Arcade Edition can buy the game as a digital download add-on
    for $14.99. It was later released as a standalone game for the Xbox 360, PlayStation 3 for $39.99, and for PC
    for $29.99. The game/add-on was released in June 2014.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Ryu</h3>
        <p>
            Ryu's most recognizable attire consists of a white karate gi with the sleeves torn off, medium length hair,
            a long red headband, a black martial arts belt and bare feet (a choice he makes of his own, believing it to be
            more comfortable). In many of his appearances, Ryu carries around a large, white duffel bag containing items
            important to his travels, such as clothing, plane tickets, passports, and local currency.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://www.nicepng.com/png/detail/193-1932477_sf3-ryu-street-fighter-3-third-strike-gif.png" alt="Ryu in fighting stance">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://i.pinimg.com/originals/60/ce/b9/60ceb93ac6c139568efcbef8c34031a3.jpg"
            alt="Ken Masters art from Street Fighter Three">
    </div>
    <div class="col-md-7">
        <h3>Ken</h3>
        <p>
            Ken is most easily recognized by wearing different sparring gloves that are either the color of his
            blonde hair or his bright red gi (he wears brown gloves in most other appearances) that features neatly
            torn off sleeves, similar to Ryu's (Capcom has officially stated that a red gi was chosen to stand out
            and to reflect his more flashy style of fighting) and it is usually seen in better
            shape than Ryu's (except for in the Street Fighter III series), since he can easily afford to keep up
            with and/or own spares. Ken's natural hair color is as black as his long and spiky eyebrows but he has
            dyed it blonde. He wears a black belt at his waist and fights without footwear.
        </p>
    </div>
</div>

{% endblock %}